#celaPati {
    background-color: rgb(253, 165, 213);
    color: rgb(18, 2, 39)
}

.celaWeb{
    background-color: rgb(230, 87, 235);
    color: rgb(18, 2, 39)
}

.celaProgram{
    background-color: rgb(216, 255, 179);
    color: rgb(18, 2, 39)
}

.celaSistemes{
    background-color: rgb(255, 202, 159);
    color: rgb(18, 2, 39)
}

.celaBasedades{
    background-color: rgb(231, 178, 31);
    color: rgb(18, 2, 39)
}

.celaerp{
    background-color: rgb(230, 63, 160);
    color: rgb(18, 2, 39)
}

.celaturoria{
    background-color: rgb(223, 246, 255);
    color: rgb(18, 2, 39)
}

.celaIpoI{
    background-color: rgb(193, 193, 223);
    color: rgb(18, 2, 39)
}

.celaIpoII{
    background-color: rgb(224, 143, 167);
    color: rgb(18, 2, 39)
}

.textblue {
    color: blue
}